
div(class = "comments__wrapper contentWidth")
  h2(class = "comments__header heading") Отзывы наших партнеров


  div(class = "comments__slider-wrapper")
    img(class = "comments__slider-wrapper-bg" src="img/sliders/commentsSlider/bg.png", alt="bg")
    ul(class = "comments__slider-slides")
      li(class = "comments__slider-slide" data-clone = "lastClone")
        div(class = "comments__slider-slide-comment")
          img(class = "comments__slider-slide-comment-img" src="img/sliders/commentsSlider/commentImg.png", alt="img")
          p(class = "comments__slider-slide-comment-position") Директор
          div(class = "comments__slider-slide-comment-name") С.В. Косачев
          div(class = "comments__slider-slide-comment-comment").
            Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...
          button(class = "comments__slider-slide-comment-btn" type = "button") читать далее
        
        div(class = "comments__slider-slide-comment")
          img(class = "comments__slider-slide-comment-img" src="img/sliders/commentsSlider/commentImg.png", alt="img")
          p(class = "comments__slider-slide-comment-position") глава представительства
          div(class = "comments__slider-slide-comment-name") Валерий Мяснянкин
          div(class = "comments__slider-slide-comment-comment").
            Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...
          button(class = "comments__slider-slide-comment-btn" type = "button") читать далее

      li(class = "comments__slider-slide")
        div(class = "comments__slider-slide-comment")
          img(class = "comments__slider-slide-comment-img" src="img/sliders/commentsSlider/commentImg.png", alt="img")
          p(class = "comments__slider-slide-comment-position") Директор
          div(class = "comments__slider-slide-comment-name") С.В. Косачев
          div(class = "comments__slider-slide-comment-comment").
            Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...
          button(class = "comments__slider-slide-comment-btn" type = "button") читать далее
        
        div(class = "comments__slider-slide-comment")
          img(class = "comments__slider-slide-comment-img" src="img/sliders/commentsSlider/commentImg.png", alt="img")
          p(class = "comments__slider-slide-comment-position") глава представительства
          div(class = "comments__slider-slide-comment-name") Валерий Мяснянкин
          div(class = "comments__slider-slide-comment-comment").
            Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...
          button(class = "comments__slider-slide-comment-btn" type = "button") читать далее

      li(class = "comments__slider-slide")
        div(class = "comments__slider-slide-comment")
          img(class = "comments__slider-slide-comment-img" src="img/sliders/commentsSlider/commentImg.png", alt="img")
          p(class = "comments__slider-slide-comment-position") Директор
          div(class = "comments__slider-slide-comment-name") С.В. Косачев
          div(class = "comments__slider-slide-comment-comment").
            Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...
          button(class = "comments__slider-slide-comment-btn" type = "button") читать далее
        
        div(class = "comments__slider-slide-comment")
          img(class = "comments__slider-slide-comment-img" src="img/sliders/commentsSlider/commentImg.png", alt="img")
          p(class = "comments__slider-slide-comment-position") глава представительства
          div(class = "comments__slider-slide-comment-name") Валерий Мяснянкин
          div(class = "comments__slider-slide-comment-comment").
            Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...
          button(class = "comments__slider-slide-comment-btn" type = "button") читать далее

      li(class = "comments__slider-slide")
        div(class = "comments__slider-slide-comment")
          img(class = "comments__slider-slide-comment-img" src="img/sliders/commentsSlider/commentImg.png", alt="img")
          p(class = "comments__slider-slide-comment-position") Директор
          div(class = "comments__slider-slide-comment-name") С.В. Косачев
          div(class = "comments__slider-slide-comment-comment").
            Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...
          button(class = "comments__slider-slide-comment-btn" type = "button") читать далее
        
        div(class = "comments__slider-slide-comment")
          img(class = "comments__slider-slide-comment-img" src="img/sliders/commentsSlider/commentImg.png", alt="img")
          p(class = "comments__slider-slide-comment-position") глава представительства
          div(class = "comments__slider-slide-comment-name") Валерий Мяснянкин
          div(class = "comments__slider-slide-comment-comment").
            Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...
          button(class = "comments__slider-slide-comment-btn" type = "button") читать далее

      li(class = "comments__slider-slide" data-clone = "firstClone")
        div(class = "comments__slider-slide-comment")
          img(class = "comments__slider-slide-comment-img" src="img/sliders/commentsSlider/commentImg.png", alt="img")
          p(class = "comments__slider-slide-comment-position") Директор
          div(class = "comments__slider-slide-comment-name") С.В. Косачев
          div(class = "comments__slider-slide-comment-comment").
            Уважаемая Светлана Александровна! Наша компания выражает благодарность и признательность обществу с ограниченной ответственностью «МК-Правовые технологии». Благодаря слаженной работе и высокой квалификации Ваших сотрудников и специалистов компания «ВиваСтрой» получила качественные юридические услуги по взысканию денежных средств с должника. Профессионализм работников ООО «МК-Правовые технологии», а также желание работать со сложными и нестандартными задачами является залогом высокоэффективного и успешного взаимодействия наших компаний. Рекомендуем...
          button(class = "comments__slider-slide-comment-btn" type = "button") читать далее
        
        div(class = "comments__slider-slide-comment")
          img(class = "comments__slider-slide-comment-img" src="img/sliders/commentsSlider/commentImg.png", alt="img")
          p(class = "comments__slider-slide-comment-position") глава представительства
          div(class = "comments__slider-slide-comment-name") Валерий Мяснянкин
          div(class = "comments__slider-slide-comment-comment").
            Представительство корпорации «VMSN GROUP, INC.» (США) в Республике Беларусь на протяжении нескольких лет сотрудничает с ООО «МК-Правовые технологии» в рамках сопровождения деятельности по юридическим вопросам, в том числе по вопросам ведения кадрового делопроизводства – абонентское обслуживание. Хотелось бы отметить работу специалистов ООО «МК-Правовые технологии» хорошими теплыми словами: надёжные, обязательные, пунктуальные. Вопросы любой сложности им по плечу. Работая с профессионалами МК-Правовые технологии, всегда можно рассчитывать...
          button(class = "comments__slider-slide-comment-btn" type = "button") читать далее

  div(class = "comments__controls")
    button(class = "comments__controls-btn btn" type = "button") все отзывы
    ul(class = "comments__controls-dots")
      li(class = "comments__controls-dot")
      li(class = "comments__controls-dot comments__controls-dot-active")
      li(class = "comments__controls-dot")
      li(class = "comments__controls-dot")
      li(class = "comments__controls-dot")
    ul(class = "comments__controls-arrows")
      li(class = "comments__controls-arrow")
        img(src="img/sliders/slider/left.png", alt="left")
      li(class = "comments__controls-arrow")
        img(src="img/sliders/slider/right.png", alt="right")