


div(class = "content__item")
  h3(class = "content__heading heading") Просто объясним сложные вещи
  div(class = "content__text").
    В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.
  
div(class = "content__item")
  h3(class = "content__heading heading") Надежно защитим права и интересы
  div(class = "content__text").
    Заказав комплексные юридические услуги в ООО «МК-Правовые технологии», можно больше не платить зарплату штатному юристу, страховые отчисления и налоги с его доходов. Можно не оплачивать отпуск, больничные и не беспокоиться о нахождении работника на рабочем месте в нужный момент.
  div(class = "triangle")

div(class = "content__item")
  h3(class = "content__heading heading") Вы платите только за результат!
  div(class = "content__text").
    В своей практике, мы дотошно соблюдаем законность, учитываем сложившуюся правовую практику и правила юридической этики. Мы считаем, что в поддержке бизнеса важно учитывать конкретные проблемы клиента и строить сотрудничество по принципу тщательного изучения всех нюансов возникшей ситуации. Всегда честны и объективны.
