h2(class = "excellence__heading heading") Организация сотрудничества

ul(class = "advantages excellence__advantages contentWidth")
  li(class = "advantages__item")
    img(class = "advantages__item-img", src="img/icons/advantages/protect.png", alt="Protect")
    div(class = "advantages__item-text lightGray") Надежная защита

  li(class = "advantages__item")
    img(class = "advantages__item-img", src="img/icons/advantages/reputation.png", alt="reputation")
    div(class = "advantages__item-text lightGray") Безупречная репутация

  li(class = "advantages__item")
    img(class = "advantages__item-img", src="img/icons/advantages/aim.png", alt="aim")
    div(class = "advantages__item-text lightGray") Ориентированность на результат 

  li(class = "advantages__item")
    img(class = "advantages__item-img", src="img/icons/advantages/confidentiality.png", alt="confidentiality")
    div(class = "advantages__item-text lightGray") Абсолютная конфиденциальность

div(class = "excellence__content")
  div(class = "excellence__content-text").
    Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.
  div(class = "triangle")