
div(class = "footer__company")
  h2(class = "footer__company-heading heading") ООО “МК-ПРАВОВЫЕ ТЕХНОЛОГИИ”

  div(class = "footer__company-rating") УНП
    div(class = "footer__company-rating-value") 192710862

  div(class = "footer__company-rating") Наш рейтинг
    div(class = "footer__company-rating-value") 5 из 5 (15 отзывов)

  ul(class = "footer__company-socialList socialList")
    li(class = "footer__company-socialList-item socialList-item")
      a(href="#")
        img(src="img/SocialIcons/vk.png",class = "socialList-item-link", alt="vk")
    li(class = "footer__company-socialList-item socialList-item")
      a(href="#")
        img(src="img/SocialIcons/odnoklasniki.png",class = "socialList-item-link", alt="odnoklasniki")
    li(class = "footer__company-socialList-item socialList-item")
      a(href="#")
        img(src="img/SocialIcons/linkedin.png",class = "socialList-item-link", alt="linkedin")
    li(class = "footer__company-socialList-item socialList-item")
      a(href="#")
        img(src="img/SocialIcons/instagram.png",class = "socialList-item-link", alt="instagram")
    li(class = "footer__company-socialList-item socialList-item")
      a(href="#")
        img(src="img/SocialIcons/youTube.png",class = "socialList-item-link", alt="youTube")
    li(class = "footer__company-socialList-item socialList-item")
      a(href="#")
        img(src="img/SocialIcons/faceBook.png",class = "socialList-item-link", alt="faceBook")
  
  div(class = "footer__company-info") КАрта сайта
    div(class = "footer__company-info-arrow")
  div(class = "footer__company-info") Политика <br>конфиденциальности
    div(class = "footer__company-info-arrow")


div(class = "footer__ourOfices")
  p(class = "footer__ourOfices-head") Наши офисы

  div(class = "footer__ourOfices-wrapper")

    div(class = "footer__ourOfices-place place")
      div(class = "place__elem")
        p(class = "place__elem-head") Контакты в Минске

        a(class = "place__elem-tel" href="tel:+375(44)7550101") +375 (44) 755-01-01
        a(class = "place__elem-tel" href="tel:+375(29)5500101") +375 (29) 550-01-01
        a(class = "place__elem-tel" href="tel:+375(17)3744060") +375 (17) 374-40-60

        div(class = "place__elem-key") Адрес
          div(class = "place__elem-value").
            г. Минск, ул. Широкая, д. 3, пом. 146, оф. 4

        div(class = "place__elem-key") Телефон для связи резидентов Российской Федерации
          div(class = "place__elem-value")
            a(href="tel:+7(989)1662400") whatsapp +7 (989) 166 24 00

        a(class = "place__elem-mail" href="#") info@jurisprudent.by

    div(class = "footer__ourOfices-wrapperForYou")

      div(class = "footer__ourOfices-place place")
          div(class = "place__elem")
            p(class = "place__elem-head") Отдел в Могилеве

            div(class = "place__elem-key") Адрес
              div(class = "place__elem-value").
                г. Могилев, ул. Космонавтов, д. 19, оф. 507

            a(class = "place__elem-mail" href="#") mogilev@jurisprudent.by

      div(class = "footer__ourOfices-place place")
          div(class = "place__elem")
            p(class = "place__elem-head") Отдел в Бресте

            div(class = "place__elem-key") Адрес
              div(class = "place__elem-value").
                г. Брест, б-р Шевченко, д. 4, оф. 401

            a(class = "place__elem-mail" href="#") brest@jurisprudent.by

      div(class = "footer__ourOfices-place place")
          div(class = "place__elem")
            p(class = "place__elem-head") Отдел в Витебске

            div(class = "place__elem-key") Адрес
              div(class = "place__elem-value").
                г. Витебск, ул.Гоголя, д. 14, оф. 614

            a(class = "place__elem-mail" href="#") vitebsk@jurisprudent.by

      div(class = "footer__ourOfices-place place")
          div(class = "place__elem")
            p(class = "place__elem-head") Отдел в Гродно

            div(class = "place__elem-key") Адрес
              div(class = "place__elem-value").
                г. Гродно, ул. Карла Маркса, д. 31-1, оф. 1010

            a(class = "place__elem-mail" href="#") grodno@jurisprudent.by

      div(class = "footer__ourOfices-place place")
        div(class = "place__elem")
          p(class = "place__elem-head") Отдел в Гомеле

          div(class = "place__elem-key") Адрес
            div(class = "place__elem-value").
              г. Гомель, пр. Ленина, д. 10, оф. 901

          a(class = "place__elem-mail" href="#") gomel@jurisprudent.by

div(class = "footer__workTime")
  p(class = "footer__workTime-head") Время работы

  div(class = "footer__workTime-place place")
    div(class = "place__elem")
      div(class = "place__elem-key") Прием посетителей
        div(class = "place__elem-value").
          Ежедневно с 8.00 до 19.00
          Выходной: суббота - воскресенье.

    div(class = "place__elem")
      div(class = "place__elem-key") Прием звонков
        div(class = "place__elem-value").
          Ежедневно с 8.00 до 22.00 <br>Без выходных


    div(class = "place__elem")
      div(class = "place__elem-key") Онлайн консультант
        div(class = "place__elem-value").
          Круглосуточно 24/7<br> Без выходных















