div(class = "contacts header__contacts contentWidth")
  div(class = "contacts__lang") Язык
    select(class = "contacts__lang-select" name = "lang")
      option Русский
      option English

  ul(class = "sociallinks contacts__sociallinks")
    li(class = "sociallinks__key")
      a(class = "sociallinks__value", href = "tel:+375(44)7550101").
        +375(44)755 01 01

    li(class = "sociallinks__key")
      a(class = "sociallinks__value", href = "https://www.a1.by/")
        img(src = "img/SocialIcons/A1.png", alt = "A1")

    li(class = "sociallinks__key")
      a(class = "sociallinks__value", href = "https://www.viber.com/")
        img(src = "img/SocialIcons/Viber.png", alt = "viber")

    li(class = "sociallinks__key")
      a(class = "sociallinks__value", href = "https://www.whatsapp.com/")
        img(src = "img/SocialIcons/whatsapp.png", alt = "whatsapp")

    li(class = "sociallinks__key")
      a(class = "sociallinks__value", href = "tel:+375(29)5500101").
        +375(29)550 01 01
    li(class = "sociallinks__key")
      a(class = "sociallinks__value", href = "https://www.mts.by/")
        img(src = "img/SocialIcons/mts.png", alt = "mts")

div(class = "logoAndNav header__logoAndNav contentWidth")
  a(class = "logoAndNav__logo", href = "#")
    img(src="img/logo.png", alt="logo")

  ul(class = "nav")
    li(class = "nav__item")
      a(class = "nav__item-link" href="#").
        Главная

    li(class = "nav__item")
      a(class = "nav__item-link" href="#").
        О нас

    li(class = "nav__item")
      a(class = "nav__item-link" href="#").
        Услуги

    li(class = "nav__item")
      a(class = "nav__item-link" href="#").
        Тарифы

    li(class = "nav__item")
      a(class = "nav__item-link" href="#").
        Инфоцентр

    li(class = "nav__item")
      a(class = "nav__item-link" href="#").
        Контакты

    li(class = "nav__item")
      button(class = "nav__item-link" type = "button")
        img(src="img/icons/search.png", alt="search")
