div(class = "mainSlider__wrapper")
  img(class = "mainSlider__bg" src="img/mainSlider/Rectangle1.png", alt="slide")

  ul(class = "mainSlider__slides")
    li(class = "mainSlider__slides-slide", data-clone = "lastClone")
      img(src="img/mainSlider/Rectangle5.png", alt="slide")
      div(class = "mainSlider__content")
        h1(class = "mainSlider__content-heading") Юридический аутсорсинг
        p(class = "mainSlider__content-caption") Гарантия своевременности качества услуг
        button(class = "mainSlider__content-btn btn") Подробнее
      div(class = "mainSlider__content-controls")
        button(class = "mainSlider__content-controls-left mainSlider__content-controls-arrow")
          img(src="img/icons/left.png", alt="left")
        button(class = "mainSlider__content-controls-right mainSlider__content-controls-arrow")
          img(src="img/icons/right.png", alt="right")

    li(class = "mainSlider__slides-slide")
      img(src="img/mainSlider/Rectangle1.png", alt="slide")
      div(class = "mainSlider__content")
        h1(class = "mainSlider__content-heading") Взыскание дебиторской задолженности
        p(class = "mainSlider__content-caption") Индивидуальный подход и нацеленность на достижение результата
        button(class = "mainSlider__content-btn btn") Подробнее
      div(class = "mainSlider__content-controls")
        button(class = "mainSlider__content-controls-left mainSlider__content-controls-arrow")
          img(src="img/icons/left.png", alt="left")
        button(class = "mainSlider__content-controls-right mainSlider__content-controls-arrow")
          img(src="img/icons/right.png", alt="right")

    li(class = "mainSlider__slides-slide")
      img(src="img/mainSlider/Rectangle2.png", alt="slide")
      div(class = "mainSlider__content")
        h1(class = "mainSlider__content-heading") Регистрация ООО
        p(class = "mainSlider__content-caption") Гарантируем минимальные сроки регистрации под ключ
        button(class = "mainSlider__content-btn btn") Подробнее
      div(class = "mainSlider__content-controls")
        button(class = "mainSlider__content-controls-left mainSlider__content-controls-arrow")
          img(src="img/icons/left.png", alt="left")
        button(class = "mainSlider__content-controls-right mainSlider__content-controls-arrow")
          img(src="img/icons/right.png", alt="right")

    li(class = "mainSlider__slides-slide")
      img(src="img/mainSlider/Rectangle3.png", alt="slide")
      div(class = "mainSlider__content")
        h1(class = "mainSlider__content-heading") ЛиквидацияПредприятия
        p(class = "mainSlider__content-caption") Эффективное решение сложных задач
        button(class = "mainSlider__content-btn btn") Подробнее
      div(class = "mainSlider__content-controls")
        button(class = "mainSlider__content-controls-left mainSlider__content-controls-arrow")
          img(src="img/icons/left.png", alt="left")
        button(class = "mainSlider__content-controls-right mainSlider__content-controls-arrow")
          img(src="img/icons/right.png", alt="right")

    li(class = "mainSlider__slides-slide")
      img(src="img/mainSlider/Rectangle4.png", alt="slide")
      div(class = "mainSlider__content")
        h1(class = "mainSlider__content-heading") Юридическая консультация
        p(class = "mainSlider__content-caption") Детальные разъяснения ВОПРОСОВ по ведению бизнеса от профессионалов
        button(class = "mainSlider__content-btn btn") Подробнее
      div(class = "mainSlider__content-controls")
        button(class = "mainSlider__content-controls-left mainSlider__content-controls-arrow")
          img(src="img/icons/left.png", alt="left")
        button(class = "mainSlider__content-controls-right mainSlider__content-controls-arrow")
          img(src="img/icons/right.png", alt="right")

    li(class = "mainSlider__slides-slide")
      img(src="img/mainSlider/Rectangle5.png", alt="slide")
      div(class = "mainSlider__content")
        h1(class = "mainSlider__content-heading") Юридический аутсорсинг
        p(class = "mainSlider__content-caption") Гарантия своевременности качества услуг
        button(class = "mainSlider__content-btn btn") Подробнее
      div(class = "mainSlider__content-controls")
        button(class = "mainSlider__content-controls-left mainSlider__content-controls-arrow")
          img(src="img/icons/left.png", alt="left")
        button(class = "mainSlider__content-controls-right mainSlider__content-controls-arrow")
          img(src="img/icons/right.png", alt="right")
    
    li(class = "mainSlider__slides-slide", data-clone = "firstClone")
      img(src="img/mainSlider/Rectangle1.png", alt="slide")
      div(class = "mainSlider__content")
        h1(class = "mainSlider__content-heading") Юридический аутсорсинг
        p(class = "mainSlider__content-caption") Гарантия своевременности качества услуг
        button(class = "mainSlider__content-btn btn") Подробнее
      div(class = "mainSlider__content-controls")
        button(class = "mainSlider__content-controls-left mainSlider__content-controls-arrow")
          img(src="img/icons/left.png", alt="left")
        button(class = "mainSlider__content-controls-right mainSlider__content-controls-arrow")
          img(src="img/icons/right.png", alt="right")


ul(class = "advantages mainSlider__advantages contentWidth")
  li(class = "advantages__item")
    img(class = "advantages__item-img", src="img/icons/advantages/protect.png", alt="Protect")
    div(class = "advantages__item-text lightGray") Надежная защита

  li(class = "advantages__item")
    img(class = "advantages__item-img", src="img/icons/advantages/reputation.png", alt="reputation")
    div(class = "advantages__item-text lightGray") Безупречная репутация

  li(class = "advantages__item")
    img(class = "advantages__item-img", src="img/icons/advantages/aim.png", alt="aim")
    div(class = "advantages__item-text lightGray") Ориентированность на результат 

  li(class = "advantages__item")
    img(class = "advantages__item-img", src="img/icons/advantages/confidentiality.png", alt="confidentiality")
    div(class = "advantages__item-text lightGray") Абсолютная конфиденциальность
