h2(class = "ourWork__heading heading") Перечень оказываемых услуг

ul(class = "ourWork__list")
  li(class = "ourWork__list-item")
    div(class = "ourWork__list-item-elem")
      h3(class = "ourWork__list-item-elem-heading") Регистрации ИП и юрлиц
      button(class = "ourWork__list-item-elem-btn" type = 'button') подробнее
    div(class = "ourWork__list-item-elem")
      h3(class = "ourWork__list-item-elem-heading") Ликвидация, реорганизация и продажа бизнеса
      button(class = "ourWork__list-item-elem-btn" type = 'button') подробнее


  li(class = "ourWork__list-item")
    div(class = "ourWork__list-item-elem")
      h3(class = "ourWork__list-item-elem-heading") Взыскание дебиторской задолженности
      button(class = "ourWork__list-item-elem-btn" type = 'button') подробнее
    div(class = "ourWork__list-item-elem")
      h3(class = "ourWork__list-item-elem-heading") Письменные и устные консультации
      button(class = "ourWork__list-item-elem-btn" type = 'button') подробнее


  li(class = "ourWork__list-item")
    div(class = "ourWork__list-item-elem")
      h3(class = "ourWork__list-item-elem-heading") Разработка уставных документов и внесение изменений в них
      button(class = "ourWork__list-item-elem-btn" type = 'button') подробнее
    div(class = "ourWork__list-item-elem")
      h3(class = "ourWork__list-item-elem-heading") Ведение переговоров
      button(class = "ourWork__list-item-elem-btn" type = 'button') подробнее


  li(class = "ourWork__list-item")
    div(class = "ourWork__list-item-elem")
      h3(class = "ourWork__list-item-elem-heading") Комплексное сопровождение бизнеса
      button(class = "ourWork__list-item-elem-btn" type = 'button') подробнее
    div(class = "ourWork__list-item-elem")
      h3(class = "ourWork__list-item-elem-heading") Сопровождение деловых сделок
      button(class = "ourWork__list-item-elem-btn" type = 'button') подробнее


  li(class = "ourWork__list-item")
    div(class = "ourWork__list-item-elem")
      h3(class = "ourWork__list-item-elem-heading") Лицензирование бизнеса
      button(class = "ourWork__list-item-elem-btn" type = 'button') подробнее
    div(class = "ourWork__list-item-elem")
      h3(class = "ourWork__list-item-elem-heading") Решение правовых споров
      button(class = "ourWork__list-item-elem-btn" type = 'button') подробнее

div(class = "ourWork__discr")
  div(class = "ourWork__discr-content").
    Оказание юридических услуг юридическим лицам и индивидуальным предпринимателям – наша работа. Среди собственников бизнеса принято считать, что прочитать закон в Интернете и применить его на практике - это одно и тоже. Основываясь на этом убеждении, они часто отказываются от профессиональной помощи. Практика же показывает, что только опытный юрист может правильно разобраться в правовых тонкостях, своевременно предотвратить ложные шаги и ускорить получение результата.
  button(class = "ourWork__discr-btn btn" type = "button") Все услуги
