div(class = "partners__content contentWidth")
  div(class = "partners__content-whom").
    Оказываем юридические услуги юридическим лицам и индивидуальным предпринимателям. Специализируемся в области хозяйственного права, работаем на всей территории Республики Беларусь, а также за ее пределами, с бизнесом любого масштаба.
  button(class = "partners__content-btn", type = button) Наши партнеры

ul(class = "partners__list contentWidth")
  li(class = "partners__list-item")
    a(href="#")
      img(class = "partners__list-item-img" src="img/icons/partners/bau.png", alt="bau")
  li(class = "partners__list-item")
    a(href="#")
      img(class = "partners__list-item-img" src="img/icons/partners/titan.png", alt="titan")
  li(class = "partners__list-item")
    a(href="#")
      img(class = "partners__list-item-img" src="img/icons/partners/favorit.png", alt="favorit")
  li(class = "partners__list-item")
    a(href="#")
      img(class = "partners__list-item-img" src="img/icons/partners/alfa.png", alt="alfa")
  li(class = "partners__list-item")
    a(href="#")
      img(class = "partners__list-item-img" src="img/icons/partners/IBAInstitute.png", alt="IBAInstitute")