div(class = "reasons__elem contentWidth")
  div(class = "reasons__elem-content")
    h4(class = "reasons__elem-content-heading heading") Почему нам доверяют
    div(class = "reasons__elem-content-text").
      Прозрачность и открытость для клиентов – наш принцип, который с самого начала исключает любые недопонимания. Мы тщательно продумали работу каждого юриста внутри коллектива, что обеспечивает высокое качество юридических услуг компании.
  ul(class = "reasons__elem-list")
    li(class = "reasons__elem-list-item") безупречная репутация
    li(class = "reasons__elem-list-item") абсолютная конфиденциальность
    li(class = "reasons__elem-list-item") внимание к каждому клиенту
    li(class = "reasons__elem-list-item") успешный опыт решения нестандартных вопросов


div(class = "reasons__elem contentWidth")
  div(class = "reasons__elem-content")
    h4(class = "reasons__elem-content-heading heading") Что получает клиент
    div(class = "reasons__elem-content-text").
      Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.
  ul(class = "reasons__elem-list")
    li(class = "reasons__elem-list-item") надежная защита бизнеса
    li(class = "reasons__elem-list-item") актуальная правовая помощь
    li(class = "reasons__elem-list-item") своевременная оценка рисков
    li(class = "reasons__elem-list-item") компетентное решение правовых вопросов