div(class = "escort__content")
  h2(class = "heading escort__content-heading").
    Юридическое сопровождение бизнеса от «МК-Правовые технологии»
  div(class = "escort__content-text lightGray").
    Главный принцип нашей работы - качество. Постоянно следовать ему помогает сплоченная команда талантливых и энергичных сотрудников, способных сообща заниматься сложными проектами, никогда не допуская сбоев в работе.
  div(class = "escort__content-text lightGray").
    Мы обеспечиваем максимальный уровень профессионального обслуживания, который можно ожидать от крупной юридической фирмы.
  div(class = "escort__content-text lightGray").
    Нашу фирму отличают яркая индивидуальность и следование модели эффективного юридического обслуживания. Благодаря профессиональной гибкости мы находим творческие решения как обычных вопросов, так и неординарных проблем, возникающих у наших клиентов.
  div(class = "escort__content-text lightGray").
    Все наши рекомендации основаны на глубоких академических знаниях и опыте практического применения в хозяйственном праве.

img(class = "escort__img", src="img/blocksImg/escort.png", alt="img")