h2(class = "servicesCost__heading heading") Стоимость юридических услуг в Минске

div(class = "servicesCost__content") Стоимость услуг формируется согласно тарифам, установленным в компании и в зависимости от времени, затраченного юристом на разрешение возникшей ситуации. Принцип прозрачности делает наши цены обоснованными и понятными для клиента.

button(class = "servicesCost__button btn") Тарифы