h2(class = "heading services__header") Основные направления деятельности

ul(class = "services__list")
  li(class = "services__list-item")
    div(class = "services__list-item-content")
      p Взыскание долгов
      button(type = "button") подробнее
    img(src="img/icons/services/debt.png", alt="debt")

  li(class = "services__list-item")
    div(class = "services__list-item-content")
      p Реорганизация бизнеса
      button(type = "button") подробнее
    img(src="img/icons/services/reorganization.png", alt="reorganization")

  li(class = "services__list-item")
    div(class = "services__list-item-content")
      p Юридические консультации
      button(type = "button") подробнее
    img(src="img/icons/services/consultation.png", alt="consultation")

  li(class = "services__list-item")
    div(class = "services__list-item-content")
      p Регистрация бизнеса
      button(type = "button") подробнее
    img(src="img/icons/services/registration.png", alt="registration")

  li(class = "services__list-item")
    div(class = "services__list-item-content")
      p Ликвидация организаций
      button(type = "button") подробнее
    img(src="img/icons/services/liquidation.png", alt="liquidation")

  li(class = "services__list-item")
    div(class = "services__list-item-content")
      p Юридический аутсорсинг
      button(type = "button") подробнее
    img(src="img/icons/services/outsourcing.png", alt="outsourcing")

  li(class = "services__list-item")
    div(class = "services__list-item-content")
      p Продажа бизнеса
      button(type = "button") подробнее
    img(src="img/icons/services/sell.png", alt="sell")

  li(class = "services__list-item")
    div(class = "services__list-item-content")
      p Разработка договоров
      button(type = "button") подробнее
    img(src="img/icons/services/development.png", alt="development")

  li(class = "services__list-item")
    div(class = "services__list-item-content")
      p Аттестация в строительстве
      button(type = "button") подробнее
    img(src="img/icons/services/certification.png", alt="certification")

button(class = "services__btn btn" type = "button") все услуги