
div(class = "slider__wrapper contentWidth")
  img(class = "slider__bg" src="img/sliders/slider/1.png", alt="0")

  ul(class = "slider__slides")
    li(class = "slider__slides-slide", data-clone = "lastClone")
      img(src="img/sliders/slider/5.png", alt="slide")
    li(class = "slider__slides-slide")
      img(src="img/sliders/slider/1.png", alt="slide")
    li(class = "slider__slides-slide")
      img(src="img/sliders/slider/2.png", alt="slide")
    li(class = "slider__slides-slide")
      img(src="img/sliders/slider/3.png", alt="slide")
    li(class = "slider__slides-slide")
      img(src="img/sliders/slider/4.png", alt="slide")
    li(class = "slider__slides-slide")
      img(src="img/sliders/slider/5.png", alt="slide")
    li(class = "slider__slides-slide", data-clone = "firstClone")
      img(src="img/sliders/slider/1.png", alt="slide")

ul(class = "slider__controls")
  li(class = "slider__control")
    img(src="img/sliders/slider/left.png", alt="left")
  li(class = "slider__control")
    img(src="img/sliders/slider/right.png", alt="right")